<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css" />
  </head>

  <body>
    <div id="app">
      <!-- Buefy components goes here -->
      <b-navbar>
        <template #brand>
          <b-navbar-item tag="router-link" :to="{ path: '/' }">
            <img src="./images/gloomhaven-logo.png" alt="Gloomhaven Sidekick" />
          </b-navbar-item>
        </template>
        <template #start>
          <b-navbar-dropdown :label="party.name" v-show="party == 'start'">
            <b-navbar-item
              v-for="p in parties"
              href="#"
              :active="party.name == p.name"
              :key="p.name"
            >
              {{p.name}}
            </b-navbar-item>
            <hr class="navbar-divider" />
            <b-navbar-item href="#"> Create New Party </b-navbar-item>
          </b-navbar-dropdown>
          <b-navbar-dropdown label="Scenario">
            <b-navbar-item href="#"> Switch Scenario </b-navbar-item>
          </b-navbar-dropdown>
          <b-navbar-dropdown label="Turn">
            <b-navbar-item href="#"> {{meow}} </b-navbar-item>
          </b-navbar-dropdown>
        </template>

        <template #end>
          <b-navbar-item tag="div">
            <div class="buttons">
              <a class="button is-light">
                <i class="ph-wrench-fill"></i>
              </a>
            </div>
          </b-navbar-item>
        </template>
      </b-navbar>
      <section class="section" v-show="view == 'start'">
        <h1 class="title">Create a new party</h1>
        <h2 class="subtitle">
          <b-field label="Name">
            <b-input v-model="name"></b-input>
          </b-field>
        </h2>
      </section>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>

    <script>
      const NotFound = { template: "<p>Page not found</p>" };
      const Home = { template: "<p>home page</p>" };
      const About = { template: "<p>about page</p>" };

      const routes = {
        "/index.html": Home,
        "/about": About,
      };
      console.log(window.location.pathname)
      const data = {
        currentRoute: window.location.pathname,
        characters: [],
        party: { name: "Zeppelins", characters: [] },
        parties: [{ name: "Zeppelins" }],
      };
      new Vue({
        data,
        el: "#app",
        computed: {
          ViewComponent() {
            return routes[this.currentRoute] || NotFound;
          },
        },
        render(h) {
          return h(this.ViewComponent);
        },
      });
    </script>
  </body>
</html>
